/* Mise à jour de styles.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c; /* Fond noir nuancé gris */
    color: #f5f5f5; /* Couleur du texte clair pour contraste */
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid #444;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700; /* Texte en gras */
}

main {
    padding: 2rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.photocard {
    background-color: #2a2a2a; /* Nuance de gris plus claire */
    border: 1px solid #444;
    border-radius: 8px;
    padding: 1rem;
    width: calc(33.333% - 2rem);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.photocard img {
    max-width: 100%;
    border-radius: 8px;
}

.photocard p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

#wishlist ul {
    list-style-type: disc;
    padding-left: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #444;
}

#filters {
    margin-bottom: 2rem;
}

#filters label {
    margin-right: 1rem;
}

#filters select {
    margin-right: 2rem;
}
